.footer {
    background-color: #1545a5;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 900;
    background: linear-gradient(135deg, rgba(243, 183, 166, 0.92), rgba(185, 214, 198, 0.92));;
    
}

