.home-container {
    /* Assurez-vous que l'image de fond est définie ici ou sur un élément parent */
    background-image: url('/public/images/back-home.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh; /* S'assure que la section prend toute la hauteur de la vue */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff; /* Couleur de texte pour le contenu du héros */
    padding: 20px;
  }
  
  .hero-text {
    background-color: rgba(12, 39, 176, 0.634); /* Fond noir semi-transparent */
    padding: 20px 40px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .hero-text h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .hero-text p {
    font-size: 1.2em;
    font-style: italic;
    opacity: 0.8;
    text-transform: uppercase;
  }
  
  /* Styles pour le bouton de découverte des projets */
  .discover-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    margin-top: 200px;
    border-radius: 50px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 15px rgba(6, 32, 199, 0.2);
  }
  
  .discover-button:hover {
    background-color: #0b1fcf;
    transform: scale(1.05);
  }
  
  /* Styles pour le bouton WhatsApp */
  .whatsapp-fixed-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
  }
  
  .whatsapp-fixed-button img {
    width: 50px;
    height: 50px;
  }
  
  .whatsapp-fixed-button:hover {
    transform: scale(1.1);
  }