/* Styles pour la barre de navigation */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 15px 20px;
    background: linear-gradient(135deg, rgba(243, 183, 166, 0.92), rgba(185, 214, 198, 0.92));
    color: black;
  }
  
  /* Styles pour le menu burger */
  .menu-burger {
    position: absolute;
    left: 20px;
    cursor: pointer;
    z-index: 1001;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .bar.open:nth-child(1) {
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .bar.open:nth-child(2) {
    opacity: 0;
  }
  
  .bar.open:nth-child(3) {
    transform: rotate(45deg) translate(-6px, -6px);
  }
  
  /* Styles pour le logo (texte) */
  .navbar-logo {
    font-size: 2em;
    font-weight: bold;
  }
  
  .navbar-logo a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  /* Styles pour le menu latéral */
  .sidebar-menu {
    height: 40%;
    width: 0;
    border-radius: 5%;
    position: fixed;
    z-index: 1000;
    top: 80px;
    left: 25px;
    background: linear-gradient(135deg, rgba(243, 183, 166, 0.92), rgba(185, 214, 198, 0.92));
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 15px;
  }
  
  .sidebar-menu.open {
    width: 250px;
  }
  
  .sidebar-menu ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar-menu li {
    padding: 8px 8px 40px 32px;
    text-align: left;
    font-weight: bold;
  }
  
  .sidebar-menu li a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s;
    text-transform: uppercase
  }
  